@page "/listaprojetos"

@using System
@inject ApiService servicoProjeto

<h3>Cadastro de Projetos</h3>

<div>
    <a class="btn btn-primary" href='/incluirprojeto'>Novo Projeto</a>
</div>
<br />

@if (listaProjetos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="row col-md-5 pull-right">
        <input type="text" id="txtSearch" placeholder="Área de conhecimento..." class="form-control" @bind="AreaPesquisada" @bind:event="oninput" />
    </div>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Área de Conhecimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @if (listaProjetos == null || listaProjetos.Count == 0)
            {
                <tr>
                    <td colspan="4">
                        Nenhum Projeto Científico foi cadastrado.
                    </td>
                </tr>
            }
            else
            {
                foreach (var projeto in listaProjetos)
                {
                    <tr>
                        <td class="col-md">@projeto.Titulo</td>
                        <td class="col-md">@projeto.Autor</td>
                        <td class="col-md">@projeto.SubArea.Nome</td>
                        <td class="col-md">
                            <a class="btn btn-primary btn-sm" href='/editarprojeto/@projeto.ProjetoId'>Editar</a>|
                            <a class="btn btn-danger btn-sm" @onclick="() => ExcluirProjeto(projeto.ProjetoId)">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private string areaPesquisada;

    private string AreaPesquisada
    {
        get { return areaPesquisada; }
        set { areaPesquisada = value; FiltrarProjetos(); }
    }

    private ObservableCollection<Projeto> listaProjetos;

    protected override async Task OnInitializedAsync()
    {
        listaProjetos = await servicoProjeto.ObterProjetos();

        //AreaPesquisada = "eng";

        if (AreaPesquisada != null)
        {
            listaProjetos = new ObservableCollection<Projeto>(listaProjetos.Where(p => p.SubArea.Nome.ToLower().Contains(AreaPesquisada.ToLower()))
                    .OrderBy(a => a.Autor));
        }
    }

    public void FiltrarProjetos()
    {
        this.OnInitializedAsync().Wait();
    }

    private async Task ExcluirProjeto(int id)
    {

    }
}
